* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Varentgrotesk";
  src: url(../font/Varentgrotesk.otf); }

@font-face {
  font-family: "Varentbold";
  src: url(../font/Varentbold.otf); }

@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Roboto&display=swap"); }

header {
  grid-area: header; }
  header .navbar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large; }
  header .logo {
    width: 225px;
    height: 38px;
    margin-top: 30px;
    margin-left: 10px; }

.orden {
  margin: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  .orden .princi {
    grid-area: fotos;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; }

.trans {
  transition: 1s; }
  .trans:hover {
    transform: scale(1.2); }

iframe {
  width: 500px;
  height: 450px; }

.floresmar, .floresam {
  /* width: 300px; */
  height: 450px; }

.pasillo {
  height: 450px;
  width: 330px; }

.ifru {
  width: 700px; }

.fotografia {
  font-family: "Varentgrotesk";
  font-size: 17px;
  margin-top: 0;
  margin-left: 10px; }

.negrita {
  font-family: "Varentbold";
  font-size: 30px; }

ul {
  position: absolute;
  top: 30px;
  right: 0; }

.presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .presentacion .marca {
    grid-area: fotos;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 115px; }
    .presentacion .marca .bloque {
      height: 350px;
      padding: 3px; }

.play {
  margin-left: 10px; }
  .play .video {
    height: 450px; }

.card {
  margin: 10px; }

.body1 {
  background-image: url(../Img/5528913.png); }
  .body1 .anita {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; }
    .body1 .anita .fotoana {
      height: 400px;
      display: flex; }
    .body1 .anita .descripcion {
      display: flex;
      align-items: center;
      font-size: large;
      font-family: "roboto";
      text-align: justify;
      width: 62%; }

.contacto {
  margin-left: 10px; }

.mb-3 {
  padding: 10px; }

footer {
  grid-area: footer;
  margin: 10px; }
  footer .pie {
    height: 30px;
    width: 30px; }
