* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Varentgrotesk";
  src: url(../font/Varentgrotesk.otf); }

@font-face {
  font-family: "Varentbold";
  src: url(../font/Varentbold.otf); }

@font-face {
  font-family: "roboto";
  src: url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Roboto&display=swap"); }

.grilla {
  display: grid;
  grid-template-areas: "header header header" "fotos fotos fotos" "footer footer footer";
  grid-template-rows: 120px auto 50px; }

header {
  grid-area: header; }
  header .navbar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large; }
  header .logo {
    width: 225px;
    height: 38px;
    margin-top: 30px;
    margin-left: 10px; }

.orden {
  margin: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  .orden .princi {
    grid-area: fotos;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; }

h4, ul {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px; }

.trans {
  transition: 1s; }
  .trans:hover {
    transform: scale(1.2); }

.nav-link {
  text-align: center;
  width: max-content; }

iframe {
  width: 500px;
  height: 450px; }

.floresmar, .floresam {
  height: 450px; }

.jis {
  width: 740px; }

.pasillo {
  height: 450px;
  width: 330px; }

.ifru {
  width: 700px; }

.fotografia {
  font-family: "Varentgrotesk";
  font-size: 17px;
  margin-top: 0;
  margin-left: 10px; }

.negrita {
  font-family: "Varentbold";
  font-size: 30px; }

ul {
  position: absolute;
  top: 30px;
  right: 0; }

.presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .presentacion .marca {
    grid-area: fotos;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 115px; }
    .presentacion .marca .bloque {
      height: 350px;
      padding: 4px; }

.play {
  margin-left: 10px; }
  .play .video {
    height: 450px; }

.card {
  margin: 10px; }

.body1 {
  background-image: url(../Img/5528913.png); }

.anita {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }
  .anita .fotoana {
    height: 400px;
    display: flex; }
  .anita .descripcion {
    display: flex;
    align-items: center;
    font-size: large;
    font-family: "roboto";
    text-align: justify;
    width: 62%; }

.contacto {
  margin-left: 10px; }

.mb-3 {
  padding: 10px; }

footer {
  grid-area: footer;
  margin: 10px;
  position: relative; }
  footer .pie {
    height: 30px;
    width: 30px; }
  footer .fut {
    font-size: small; }
  footer .final {
    font-size: small;
    position: absolute;
    right: 0;
    top: 0;
    display: inline; }

.buton, .buton2, .buton3 {
  background-color: yellow;
  text-align: center;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px; }

.buton2 {
  background-color: green; }

.buton3 {
  background-color: red; }

@media screen and (min-width: 320px) and (max-width: 400px) {
  .navbar-nav {
    background-color: white; }
  .orden {
    display: flex;
    flex-direction: column; }
  .grid {
    height: auto;
    width: 380px; }
  .floresam, .floresmar, .pasillo {
    height: auto;
    width: 380px; }
  .video {
    width: 380px; }
  .presentacion {
    width: 380px;
    height: auto; }
    .presentacion .marca {
      margin-left: 5px; }
      .presentacion .marca .bloque {
        padding: 3px;
        height: auto;
        width: 380px; }
  .anita {
    flex-direction: column;
    margin-left: 5px;
    justify-content: space-between; }
  .fotoana {
    height: auto;
    width: 380px; }
  .descripcion {
    margin-top: 10px;
    width: 100%;
    text-align: justify; } }

@media screen and (min-width: 400px) and (max-width: 480px) {
  .navbar-nav {
    background-color: white; }
  .orden {
    display: flex;
    flex-direction: column; }
  .grid {
    height: auto;
    width: 450px; }
  .floresam, .floresmar, .pasillo {
    height: auto;
    width: 450px; }
  .video {
    width: 450px; }
  .presentacion {
    width: 460px;
    height: auto; }
  .bloque {
    padding: 3px; }
  .anita {
    flex-direction: column;
    margin-left: 5px;
    justify-content: space-between; }
  .fotoana {
    height: auto;
    width: 460px; }
  .descripcion {
    margin-top: 5px;
    width: 100%;
    text-align: justify; } }

@media screen and (min-width: 600px) and (max-width: 768px) {
  .navbar-nav {
    background-color: white; }
  .orden {
    display: flex;
    flex-direction: column; }
  .grid {
    height: auto;
    width: 750px; }
  .floresam, .floresmar, .pasillo {
    height: auto;
    width: 750px; }
  .video {
    width: 750px; }
  .presentacion {
    width: 750px;
    height: auto; }
    .presentacion .marca {
      margin-left: 10px; }
      .presentacion .marca .bloque {
        padding: 3px;
        height: auto;
        width: 750px; }
  .anita {
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between; }
  .fotoana {
    height: auto;
    width: 750px; }
  .descripcion {
    margin-top: 10px;
    width: 100%;
    text-align: justify; } }
