$dg: grid;
$df: flex;
$fw: wrap;
$estilos: (
    height: 450px,
   margin: 10px,
    );
@mixin display-flex {display: $df;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    @font-face {
        font-family: "Varentgrotesk" ;
        src: url(../font/Varentgrotesk.otf);
    }
    @font-face {
        font-family: "Varentbold" ;
        src: url(../font/Varentbold.otf);}
       
    @font-face {
        font-family:"roboto";
        src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Roboto&display=swap');
    }
   
header{grid-area: header;
    
.navbar 
{ position: absolute;
    top: 0;
    right: 0;
    font-size: large;
}
.logo
    {width: 225px;
        height: 38px;
        margin-top: 30px;
        margin-left: map-get($estilos, margin );}
    }
    .orden{
        margin: map-get($estilos, margin );
        height: 100%;
        display: $df;
        justify-content: space-between ;
        .princi{grid-area: fotos;
            display: $df;
           flex-wrap: $fw;
            gap: 10px;
         } 
    }

    h4, ul{ 

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        margin: map-get($estilos, margin );}
    .trans{ transition: 1s;
    &:hover{
        transform: scale(1.2);
    }}
    .nav-link{
        text-align: center;
        width: max-content;

    }
    iframe{width: 500px;
        height: map-get($estilos, height );
    }
    .floresmar, .floresam{
        height: map-get($estilos, height );
    }
    .jis{width: 740px;}
    .pasillo{ height: map-get($estilos, height );
        width: 330px;}
    .ifru{width: 700px;}
    .fotografia{font-family: "Varentgrotesk";
        font-size: 17px;
        margin-top: 0 ;
        
        margin-left: map-get($estilos, margin );
        }
        .negrita{font-family: "Varentbold";
            font-size: 30px;
       }
            ul{  position: absolute;
            top: 30px;
            right: 0;
            
            }
        .presentacion{
          @include display-flex();
        .marca{

            grid-area: fotos;
            flex-wrap:  $fw;
            justify-content: space-between;
            margin-left: 115px;  
            .bloque{height: 350px;
                padding: 4px;}
            
        }}
        .play{margin-left: map-get($estilos, margin) ;
            .video{height: map-get($estilos, height );}}
            .card{ margin: map-get($estilos, margin );}
            .body1{background-image: url(../Img/5528913.png) ;}
            
            .anita{display: $df;
                justify-content: space-around;
                margin-bottom: 20px;
                .fotoana{
                    height: 400px;
                    display: $df; }
                .descripcion{
                        display: $df;
                        align-items: center;
                        font-size:large;
                        
                        font-family: "roboto";
                        text-align:  justify;
                        width: 62%;
                       }
           }
           .contacto{margin-left: map-get($estilos, margin );}
           .mb-3{padding: 10px;}
        footer{grid-area: footer;
            margin: map-get($estilos, margin );
            .pie{
                height: 30px;
                width: 30px;
            }
            .fut{font-size: small;
            display: inline;position: absolute;
        left: 0 ;}
            .final{font-size: small;
           position: absolute;
           right: 0 ;
        display: inline;}
        }
        .buton
        {background-color: yellow;
            text-align:center;
            color:black;
            border-radius:10px;
            border:1px solid black;
            margin: map-get($estilos, margin ); 
        padding: 5px;}
    .buton2{
        @extend .buton;
        background-color: green;
    }
    .buton3{
        @extend .buton;
        background-color: red;
    }
    @media screen and (min-width:320px) and (max-width:400px)
    {
        .navbar-nav{background-color: white;}
        .orden{display: $df;
        flex-direction: column;
    }
    .grid{height: auto;
        width: 380px;}
     .floresam, .floresmar, .pasillo{
        height: auto;
    width: 380px;
     }
     .video{width:  380px;}
     .presentacion{width:  380px;
    height: auto;
.marca{margin-left: 5px;
    .bloque{padding: 3px;
    height: auto;
width: 380px;}}}
     .anita{flex-direction: column;
    margin-left: 5px;
    justify-content: space-between;}
     .fotoana{height: auto;
    width: 380px ;}
    .descripcion{margin-top: 10px;
    width: 100%;
    text-align: justify;}
    }
        
    
    @media screen and (min-width: 400px) and (max-width: 480px){
        .navbar-nav{background-color: white;}
        .orden{display: $df;
        flex-direction: column;
    }
    .grid{height: auto;
        width: 450px;}
     .floresam, .floresmar, .pasillo{
        height: auto;
    width: 450px;
     }
     .video{ width: 450px;}
     .presentacion{width: 460px;
    height: auto;}
    .bloque{padding: 3px;}
     .anita{flex-direction: column;
    margin-left: 5px;
    justify-content: space-between;}
     .fotoana{height: auto;
    width: 460px;}
    .descripcion{margin-top: 5px;
    width: 100%;
    text-align: justify;}
    }
    @media screen and (min-width:600px) and (max-width: 768px) {
        .navbar-nav{background-color: white;}
        .orden{display: $df;
        flex-direction: column;
    }
    .grid{height: auto;
        width: 750px;}
     .floresam, .floresmar, .pasillo{
        height: auto;
    width: 750px;
     }
     .video{width:  750px;}
     .presentacion{width:  750px;
    height: auto;
.marca{margin-left: 10px;
    .bloque{padding: 3px;
    height: auto;
width: 750px;}}}
     .anita{flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;}
     .fotoana{height: auto;
    width: 750px ;}
    .descripcion{margin-top: 10px;
    width: 100%;
    text-align: justify;}
    }